.container{
    text-align: center;
    margin-right: 6%;
}


body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJWFBKukDjS2q0xvIIYlMvpw8PVHL5dfyxfg&usqp=CAU');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size: cover;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.2rem;
    margin-right: 10%;
}

table{
   
    display: block;
    margin: 3% 3%;
    height: 52vh;
}

input{
    font-size: 1.5rem;
    padding: 3% 3%;
    border: 4px solid black;
    border-radius: 21px;
    width: 95%;
}

button{
   
    font-size: 2rem;
    margin: 2%;
    height: 100%;
    width: 100%;
    border-radius: 21px;
}

button:hover{
    background-color: rgb(35, 230, 35);
    color: white;
}

.calculator{
    border: 4px solid rgb(87, 58, 87);
    transform: skew(20deg);
    height: 60vh;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}

@media only screen and (max-width:608px){
    .calculator{
        border: 4px solid rgb(87, 58, 87);
        transform: skew(0deg);
        height: 60vh;
        padding: 23px;
        border-radius: 53px;
        display: inline-block;
    }
    .container{
        text-align: center;
        margin-right: 6%;
    }
}

@media only screen and (min-width:609px)and (max-width:1023px){
    .calculator{
        border: 4px solid rgb(87, 58, 87);
        transform: skew(20deg);
        height: 40vh;
        padding: 23px;
        border-radius: 53px;
        display: inline-block;
    }
    .container{
        text-align: center;
        margin-right: 6%;
    }
}

.addEffect:hover{
    background-color: rgb(247, 12, 12);
    color: white;
}